* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Ajuste para o scrool mais flexível */
html {
    scroll-behavior: smooth;
}

/* MODIFICAÇÕES DO HEADER */
header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.634);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

header h1 {
    margin-left: 30px;
    color: #caa8cf;
}

nav a {
    margin-right: 30px;
    color: #caa8cf;
}

nav a:last-child {
    border-radius: 30px;
    padding: 4px 10px;
    background-color: #caa8cf;
    color: black;
}

/* FIM DAS MODIFICAÇÕES DO CABEÇALHO/INICIO DO HOME  */
#home {
    background-color: #cfa29d;
}

.banner {
    height: 500px;
}

.mission {
    height: 350px;
    width: 100%;
    color: #fff;
    padding: 0px 100px;
    background-color: #9d6963;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mission h2 {
    font-weight: 400;
}

.mission p {
    font-size: 52px;
    font-weight: bold;
}

/* Mudanças da seção sobre a estética */
#sobre {
    width: 100%;
    height: auto;
    padding: 20px 0px 20px 0px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

#sobre h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#sobre h3 {
    font-size: 26px;
    text-align: center;
}

#sobre p {
    font-size: 20px;
}

#sobre h3,
#sobre p {
    margin: 20px;
}

.background-sbr {
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 50%;
    background: #C6AC8D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sobre img {
    width: 114px;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    filter: brightness(0);
}

/* Container contendo tudo do sobre */
.container-sobre {
    display: flex;
}

/* Div de cada sobre  */
.valor1,
.valor2,
.valor3 {
    width: 33%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Classe da seção dos momentos da estética 3  */
.moment {
    height: auto;
    padding: 20px 0px 20px 0px;
    background: #9D6963;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.moment button {
    width: 236px;
    height: 56px;
    background: #331F1E;
    color: white;
    border-radius: 40px;
    border: none;
    margin-top: 20px;
}

.container-moment {
    display: flex;
}

/* Div de cada momento */
.moments1,
.moments2,
.moments3 {
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* seção das professores do curso técnico de estética */
.teacher {
    height: auto;
    padding: 30px 0px 30px 0px;
    background: #FFFFFF;

}

/* Div pai da seção das professoras do técnico */
.container-teacher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teacher h2 {
    text-align: center;
}

.teacher h3 {
    width: 360px;
    text-align: end;
}

.teacher h4 {
    width: 35%;
    height: auto;
    text-align: justify;
    padding: 30px 0px 30px 0px;
    border-radius: 15px;
    background: #583B37;
}

/* Caixa de texto de cada professora */
.prof {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#grade {
    width: 100%;
    height: auto;
    padding: 20px 0px 20px 0px;
    background: #9D6963;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

#grade>h2 {
    color: whitesmoke;
    font-size: 2rem;
    padding: 30px 0px 30px 0px;
}

.container-grade {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.box-grade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 366px;
    height: 391px;
    box-shadow: 5px 6px 5px 0px rgba(39, 26, 25, 0.4);
    border-radius: 33px;
    background: #331F1E;
    margin: 10px 50px 10px 30px;
    padding: 30px;
}


.box-grade>h2 {
    color: white;
    padding-bottom: 15px;
}


.box-grade>h3 {
    width: 310px;
    padding-top: 30px;
    font-size: 1rem;
    font-weight: 300;
    justify-content: center;
    color: rgba(255, 255, 255, 0.792);
}

.box-grade>button {
    background-color: wheat;
    color: #1d1212;
    font-size: 1.2rem;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.box-grade>button:hover {
    background-color: rgb(106, 86, 48);
    color: rgb(252, 247, 236);
    transition: 0.2s;
    cursor: pointer;
}

/* Fim das alterações da grade curricular  */
/* Inicio das alterações da seção da clinica  */
#clinic {
    width: 100%;
    height: 800px;
    background: #9d6963;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* Fundo temporário pra ficar melhor de mexer no css inteiro  */
}

#clinic h2 {
    font-size: 25px;
    color: #331F1F;
}

#clinic h3 {
    font-size: 20px;
    color: #D9D9D9
}

#clinic button {
    width: 171px;
    height: 50px;
    border-radius: 40px;
    background: #9f423d;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease;
}

#clinic button img {
    width: 25px;
    /* filter: brightness(0) saturate(100%) invert(99%) sepia(71%) saturate(234%) hue-rotate(26deg) brightness(97%) contrast(94%); */
}

#clinic button:hover {
    background-color: rgb(106, 86, 48);
    color: rgb(252, 247, 236);
    transition: 0.2s;
    cursor: pointer;
}

#clinic button:hover img {
    transition: 0.5s;
    filter: brightness(0) saturate(100%) invert(99%) sepia(71%) saturate(234%) hue-rotate(26deg) brightness(97%) contrast(94%);

}

#clinic button span {
    padding-left: 1.2rem;

}

.container-clinic {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sobre-clinic {
    width: 40%;
    margin-left: 50px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.sobre-clinic h2,
.sobre-clinic h3 {
    margin: 10px;
}

.sobre-clinic h3 {
    display: flex;
}

.bars {
    width: 5%;
    height: 100%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first {
    width: 300px;
    border-color: #FFFFFF;
    position: relative;
    bottom: 140px;
    rotate: 70deg;
}

.second {
    width: 300px;
    rotate: -70deg;
    border-color: #FFFFFF;
    position: relative;
    top: 140px;
}


.proced-clinic {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.proced-clinic h2,
.proced-clinic h3 {
    gap: 2rem;
    margin: 10px;
    text-align: start;
}

.proced-clinic h3 {
    display: flex;
}

.background-img {
    border-radius: 50%;
    background: #C6AC8D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.background-img img {
    width: 50px;
    height: 50px;
    background: none;
}